<!DOCTYPE html>
<html>
<head>
    <title>Mi Página</title>
</head>
<body>
    <h1>Contenido Variado</h1>
    
    {{#if opcion}}
        <p>Opción seleccionada: {{opcion}}</p>
    {{else}}
        <p>No se ha seleccionado ninguna opción.</p>
    {{/if}}
</body>
</html>